.main {
    width: 80vw;
    height: auto;
    margin: auto;
    background-image: linear-gradient(to bottom, #33691e, #7cb342);
    color: white;
    position: relative;
    top: 5vh;
    padding: 1vw
}


